.icon_button{
    cursor: pointer !important;
    all: unset; /* Removes all default styles */
    display: block; /* Makes it behave like a div */
    background: transparent; /* No background color */
    border: none; /* No border */
    padding: 0; /* No padding */
    text-align: left; /* Align text to the left */
    font-family: inherit; /* Inherit the fonts family from the parent */
}

.icon_button :global(.anticon) {
    color: var(--primary-color);

}
.icon_button:hover{
    opacity: 0.8;
}


