.app__container {
    display: grid;
    grid-template-columns: auto 1fr; /* 280px */
    height: calc(100vh - 5.75rem); /* 92px */
}

.main__container {
    background-color: white;
    height: 100%;
    overflow-y: auto;
}