.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 0 12px;
    border-bottom: 1px solid var(--app-color-border);
    background-color: white;
    color: var(--app-color-text);
}
.layout__menu{
    display: flex;
    flex-direction: row;
    gap: 8px;

}
.dropdown__menu{
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    /*text-align: center;*/
    padding-right: 16px;
}
.layout__action{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.action__language{
    font-size: 13px;
    font-weight: bold;
    width: 24px;
    cursor: pointer;
}

.user__nav__layout{
    display: flex;
    gap: 4px;
    font-weight: 500;
}

.user__nav__title{
    color: var(--app-color-text);
}

.about__text__title{
    font-weight: 500;
    color: var(--app-color-text);
}