.action{
    width: 100% !important;
    display: flex;
    justify-content: flex-end;
    gap: 20px;

}
.action button{
    min-width: 100px !important;
}
.backup{
    width: 680px !important;
}
.backup :global(.ant-radio-wrapper) {
    min-width: 50px !important;
}

.backup :global(.ant-radio-wrapper > span:last-child) {
    display: inline-block;
    min-width: 50px;
}