
.card__content{
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
}
.card__color{
    background-color: color-mix(in srgb, var(--app-color-primary) 15%, transparent);
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__color i{
    font-size: 40px;
    color: var(--app-color-text);
}

.card__title{
    font-weight: 500;
    font-size: 14px;
    /*border-bottom: 1px solid var(--border);*/
    padding-bottom: 4px;
    text-align: center;
}
.card__description div{
    font-size: 12px;
    /*opacity: 0.75;*/
    /*color: var(--app-color-text);*/
}
.card__description span{
    display: inline-block;
    width: 40px;
    font-weight: 500;
}

.card__decor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__decor svg{
    color: var(--app-color-text);
    opacity: 0.1;
    height: 170px;
    position: absolute;
    right: -4px;
}


.active_card{
    background-color: color-mix(in srgb, var(--app-color-primary) 4%, transparent) !important;
    color: var(--app-color-primary) !important;
    border-color: var(--app-color-primary) !important;
}

.card{
    cursor: pointer;
    width: -webkit-fill-available;
    margin: 4px 4px;
    height: auto;
    border: 0.1rem solid var(--app-color-border);
    border-radius: var(--app-border-radius-sm);
    background-color: white;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    //box-shadow: 2px 2px 4px color-mix(in srgb, var(--color-primary) 15%, transparent), -2px -2px 4px color-mix(in srgb, var(--color-primary) 15%, transparent);

}
.card:hover {
    /*box-shadow: 0 4px 8px color-mix(in srgb, var(--color-primary) 15%, transparent);*/
    box-shadow: 2px 2px 4px color-mix(in srgb, var(--app-color-primary) 15%, transparent), -2px -2px 4px color-mix(in srgb, var(--color-primary) 15%, transparent);
    /*transition: box-shadow 0.15s ease-in-out;*/
    /*transform: translate(-1px, -2px);*/

}

.card__ripples{
    width: 100%;
}

.card__wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
}