.db__layout{
    color: var(--app-color-text) !important;
    border-radius: 4px;
    border: 1px solid var(--app-color-border);
    padding: 12px;
    margin: 6px 0;
    position: relative;
    width: 100%;
}

.text__title{
    font-weight: 500;
    color: var(--app-color-text);
}

.db__content{
    border: 1px solid var(--app-color-border);
    border-radius: 4px;
    padding: 12px;
    color: var(--app-color-text);
    background-color: var(--app-color-bg-layout);
    min-height: 120px;
}