.layout{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-top: 8px;
}
.alias{
    border: 1px solid var(--app-color-border);
    padding: 6px 0;
    text-align: center;
    background-color: #E5E9C5;
}
.item__layout{
    display: flex;
    flex-direction: row;
    border: 1px solid var(--app-color-border);
    border-top: none;
    justify-content: space-between;
}
.item{
    border-right: 1px solid var(--app-color-border);
    width: 100%;
    text-align: center;
    padding: 6px 0;
    cursor: pointer;
}
.item:last-child{
    border-right: none;
}
.item__active{
    color: var(--app-color-primary);
    background-color: #2563eb11;
    transition: 0.15s ease-in-out;
}

.tree__layout{
    border-radius: 4px;
    margin-top: 8px;
    overflow-y: auto;
}