.layout{
    background-color: white;
    padding: 0.75rem 0.5rem; /* 12px 8px */
    overflow-y: hidden;
    display: grid;
    grid-template-rows: 2.5rem auto; /* 40px */
    gap: 0.75rem; /* 12px */
    max-width: 56.25rem; /* 900px */
    width: 100%;
}

.top__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .mode__view{
        display: inherit;

    }
    .left__menu__button{
        display: inline-flex;
        gap:6px;
    }
}

.navigation__container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}