/* ---------- Root Variables ---------- */
:root {
    /* Font system */
    --app-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    --app-font-family-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;

    --app-font-size: 14px;
    --app-font-weight-regular: 400;
    --app-font-weight-strong: 600;
    --app-line-height: 1.5715;

    /* Headings scale */
    --app-font-size-h1: 2rem;
    --app-font-size-h2: 1.714rem;
    --app-font-size-h3: 1.429rem;
    --app-font-size-h4: 1.143rem;
    --app-font-size-h5: 1rem;
    --app-font-size-h6: 0.857rem;

    /* Colors */
    --app-color-text: #2c3e50;
    --app-color-text-secondary: rgba(0, 0, 0, 0.65);
    --app-color-text-strong: rgba(0, 0, 0, 0.95);
    --app-color-error: #FF3838;
    --app-color-link: #1677ff;
    --app-color-link-hover: #4096ff;
    --app-color-border: #d9d9d9;
    --app-color-border-secondary: #e8e8e8;
    --app-color-fill-tertiary: #f5f5f5;
    --app-color-bg-layout: #f5f5f5;
    --app-color-primary: #2563EB;
    --app-color-bg-component: #ffffff;
    /* Borders */
    --app-border-radius-sm: 4px;
    --app-color-folder: rgb(255, 211, 77);
    --app-color-inactive: #F79A19
}