
.resize__vertical__line{
    width: 2px;
    height: 100%;
    background-color: var(--app-color-text);
    opacity: 0.3;
    cursor: col-resize;
}
.resize__vertical__line:hover, .dragging{
    background-color: var(--app-color-text);
    opacity: 0.5;
    transition:  opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}