
.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--app-color-text);
    margin: 0 6px;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
