.resize__line{
    width: calc(100% + 16px);
    height: 2px;
    background-color: var(--app-color-text);
    opacity: 0.3;
    cursor: row-resize;
    transform: translateX(-8px);
}
.resize__line:hover, .dragging{
    background-color: var(--app-color-text);
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}