.button__layout{
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    border-right: 0.1rem solid var(--app-color-border);
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: 4px;
    cursor: pointer;
    background-color: var(--app-color-bg-component);
}
.button__layout:hover{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}


.button__layout >i{
    font-size: 16px;
}